* {
    padding: 0;
    margin: 0;
}

.main-bar {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 590px auto;
    justify-content: center;
}

/* side bar Box css */
.side-bar {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* store bar Box css */
.store-bar {
    overflow-x: hidden;
    padding-right: 100px;
    text-align: justify;
}



/* side bar css start  */

/* Logo start  */
.logo-heading {
    margin-top: 10px;
}

.logo-heading h2 {
    text-align: center;
    letter-spacing: 5px;
}

.logo-heading h3 {
    text-align: center;
    letter-spacing: 5px;
    margin-top: -79px;
    margin-right: -5px;
}




.logo-heading h2::first-letter {
    color: red;
    font-size: 80PX;
}

.logo-heading h3::first-letter {
    color: #ff3333;
    font-size: 40PX;
}

/* Logo End */

/* nav bar start  */
.nav-box {
    margin-top: 60px;
    width: 100%;
}

.nav-bar {
    margin-left: 113px;
}

.nav-bar a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #696969;
    padding: 10px;
}

.nav-bar a:hover {
    color: black;
    background-color: #808080;
}

/* nav bar second  */
.nav-bar-second {
    margin-top: 30px;
    margin-left: 113px;
}

.nav-bar-second a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.nav-bar-second a:hover {
    color: black;
    background-color: #A9A9A9;
}

/* nav bar End  */

/* side bar css End  */



/* store bar css Start  */

/* nav bar and store main photo start  */
.store-bar {
    margin-left: 15px;
}

.header {
    margin-top: 40px;
}

.header p {
    display: inline;
    font-size: 25px;
}



.header .fo {
    float: right;
    margin-right: 20px;
}

.e-com {
    color: red;
    font-weight: bolder;
}


.photo {
    position: relative;
}

.photo img {
    margin-top: 30px;
    width: 100%;

}

.photo-heading {
    position: absolute;
    top: 10%;
    color: white;
    line-height: 80px;
    margin-left: 20px;

}

.photo-heading h1 {
    font-size: 80px !important;
}

.photo-heading h3 {
    font-size: 40px !important;
}

.photo-heading a {
    font-size: 20px !important;
    text-decoration: none;
    color: white;
    background-color: #000;
    padding: 10px 20px;
}

.photo-heading a:hover {
    background-color: #A9A9A9;
}

/* nav bar and store main photo End  */


/* cart start  */
.cart-section {
    margin-top: 10px;
}

.cart-section h3 {

    padding: 10px 0px 10px 0px;
}

.cart-section h3::first-letter {
    color: indigo;
    font-size: 30px;
}

.cart {
    display: grid;

    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: 256px 256px 256px 256px; */
    gap: 20px;

}

.cart img {
    width: 205px;
    height: 256px;
}

.cart .cart-heading {
    color: #808080;
    font-size: 18px;
    margin: 5px 0px;
}

/* cart End  */


/* subscribe section start */
.subscribe {
    margin-top: 15px;
    background-color: #000;
    color: white;
}

.subscribe-form {
    padding: 30px;
    margin: 10px;
    line-height: 42px;
}

.subscribe-form h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.subscribe-form p {
    font-size: 15px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe-form .fname {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
}

.subscribe-form button {
    padding: 10px 30px;
    color: white;
    background-color: #f44336;
    border: none;
}

.subscribe-form button:hover {
    color: black;
    background-color: rgb(158, 149, 149);
}

/* subscribe section End  */

/*  information contact about store start  */

.information {
    background-color: #f1f1f1;
    padding: 10px;
}

.info-form {
    display: grid;
    grid-template-columns: 300px 250px 250px;
    gap: 10px;
    justify-content: space-around;

}



.contact h3,
p {
    text-align: center;
    margin-top: 10px;

}


.contact .txt {
    margin-top: 15px;
    width: 277px;
    padding: 8px;
    border: 1px solid black;
}

.contact button {
    color: white;
    font-size: 12px;
    background-color: #000;
    margin: 15px 0px 20px 0px;
    width: 293px;
    padding: 8px;
    border: none;
}

.contact button:hover {
    background-color: #808080;
    color: #000;
}


/* about css */
.info-form .about h3 {
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.info-form .about a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #000;
    text-decoration: none;
    background-color: transparent;

}

.info-form .about a:hover {
    color: rgb(66, 66, 117);
}


.info-form .store h3 {

    margin: 10px 0px 20px 0px;

}

/* store css */
.info-form .store a {
    display: block;
    margin-top: 15px;
    color: #000;
    text-decoration: none;
}

.info-form .store a:hover {
    color: rgb(66, 66, 117);
}

.info-form .store span {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: #000;
}




/*  information contact about store End  */

/* footer  */

.footer {
    background-color: #000;
    height: 80px;
}

.footer p {
    padding-top: 40px;
    color: white;
    letter-spacing: 10px;
    text-align: center;
}

/* store bar css End  */